{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
	<h1>
		{{ site_name }} - Galerie
		{% if user.is_authenticated %}
			&nbsp;<a href="/admin/web/gallery/add/" title="Nová galerie"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</h1>
	{% if galleryObject is not None %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<a href="/gallery/{{ galleryObject.0.gallery_id }}" title="Detail galerie">
							<strong><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;{{ galleryObject.0.name }}</strong>
						</a>
						{% if user.is_authenticated %}
							&nbsp;<a href="/admin/web/gallery/{{ galleryObject.0.gallery_id }}/change/" title="Upravit"><span class="glyphicon glyphicon-wrench"></span></a>
						{% endif %}
					</div>
					<div class="col-md-6 text-right">
						<span class="small"><strong>Index</strong> | {{ galleryObject.0.author.first_name }} {{ galleryObject.0.author.last_name }} | <span data-toggle="tooltip" title="Poslední úprava: {{ galleryObject.0.date_edited }}"><em>{{ galleryObject.0.date_created }}</em></span></span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="text-justify border">
							{% autoescape off %}{{ galleryObject.0.dscr }}{% endautoescape %}
						</div>
						<hr />
						<p class="text-justify border"><strong>Obrázky v galerii:</strong></p>
						{% if galleryObject.2.count > 0 %}
							<div class="row">
								{% for image in galleryObject.2 %}
									{% if forloop.counter0|divisibleby:6 %}
										</div><div class="row">
									{% endif %}
									<div class="col-md-2 text-center">
										<a href="/gallery/{{ galleryObject.0.gallery_id }}/{{ image.image_id }}" title="Detail obrázku">
											<img src="{{ image.image.url }}" alt="{{ image.name }}" title="Detail obrázku" class="gallery-thumb" />
										</a>
									</div>
								{% endfor %}
							</div>
							<p class="text-justify border">
								Celkem <strong>{{ galleryObject.2.count }}</strong>
								{% if galleryObject.2.count < 2 %}
									obrázek
								{% elif galleryObject.2.count < 5 %}
									obrázky
								{% else %}
									obrázků
								{% endif %} 
							</p>
						{% else %}
							<p class="text-justify border">Galerie neobsahuje žádné obrázky</p>
						{% endif %}
						<hr />
						<p class="text-justify border"><strong>Nadřazená galerie:</strong></p>
						<ul>
							<li>
								{% if galleryObject.1 is not None %}
									<a href="/gallery/{{ galleryObject.1.gallery_id }}" title="Detail galerie">{{ galleryObject.1.name }}</a>
								{% else %}
									<a href="/gallery" title="Index galerie">Index</a>
								{% endif %}
							</li>
						</ul>
						</p>
						<p class="text-justify border"><strong>Podkategorie:</strong></p>
						<ul>
							{% for gallery in galleryObject.3 %}
								<li>
									<a href="/gallery/{{ gallery.0.gallery_id }}" title="Detail galerie">{{ gallery.0.name }}</a> [{{ gallery.1 }}]
								</li>
							{% endfor %}
						</ul>
						<p class="text-justify border"><strong>Související články:</strong></p>
						<ul>
							{% for article in galleryObject.4 %}
								<li>
									<a href="/articles/{{ article.article_id }}" title="Detail článku">{{ article.name }}</a> [{{ article.author.first_name }} {{ article.author.last_name }}]
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% if user.is_authenticated %}
			<div class="panel panel-info">
				<div class="panel-heading">
					<strong>Administrace</strong>
				</div>
				<div class="panel-body">
					{% if status is not None %}
						<p class="swStatusBar {{ status.style }}">{{ status.message }}</p>
					{% endif %}
					<div class="row">
						<strong>&nbsp;&nbsp;Přidat nový obrázek:</strong>
						<div class="form-wrapper">
							<form method="post" action="/gallery/add" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="form-group">{% bootstrap_form newImageForm %}</div>
								<span data-toggle="tooltip" title="Přidat nový obrázek"><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;Přidat nový obrázek</button></span>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% else %}
		<p class="lead">{{ msg }}</p>
	{% endif %}
{% endblock content %}