{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>
		{{ site_name }} - Novinky
		{% if user.is_authenticated %}
			&nbsp;<a href="/admin/web/news/add/" title="Přidat novinku"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</h1>
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Novinky</strong>
		</div>
		<div class="panel-body">
			{% for news in allNews %}
			<div class="row">
				<div class="col-md-3 text-center"><strong>{{ news.date_created }}</strong> {{ news.author.first_name }} {{ news.author.last_name }}</div>
				<div class="col-md-9 text-justify">{% autoescape off %} {{ news.content }} {% endautoescape %}</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<p class="item-counter">Celkem novinek: <strong>{{ allNews.count }}</strong></p>
{% endblock content %}